.App{
    min-height: 100vh;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.search-form{
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.search-bar{
    width: 50%;
    border: none;
}

.search-button{
    background: lightcoral;
    border: none;
    padding: 10px 20px;
    color: white;
}

.searching-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:aqua;
}
